/*
 * BTCPay variables as CSS custom properties.
 * -> These get used in the _variables.scss
 */
:root {
  --btcpay-accent-light: #CEDC21;
  --btcpay-accent-medium: #51B13E;
  --btcpay-accent-dark: #137547;
  --btcpay-accent-darkest: #0F3723;
  --btcpay-neutral-100: #FBFAF8;
  --btcpay-neutral-200: #F5F5F3;
  --btcpay-neutral-300: #E5E5E5;
  --btcpay-neutral-600: #536E8D;
  --btcpay-neutral-700: #465C76;
  --btcpay-neutral-900: #202C39;
  --btcpay-color-white:    #fff;
  --btcpay-color-gray-100: #f8f9fa;
  --btcpay-color-gray-200: #e9ecef;
  --btcpay-color-gray-300: #dee2e6;
  --btcpay-color-gray-400: #ced4da;
  --btcpay-color-gray-500: #adb5bd;
  --btcpay-color-gray-600: #6c757d;
  --btcpay-color-gray-700: #495057;
  --btcpay-color-gray-800: #343a40;
  --btcpay-color-gray-900: #212529;
  --btcpay-color-black:    #000;
  --btcpay-color-blue:    #0069d9;
  --btcpay-color-indigo:  #6610f2;
  --btcpay-color-purple:  #6f42c1;
  --btcpay-color-pink:    #e83e8c;
  --btcpay-color-red:     #dc3545;
  --btcpay-color-orange:  #ff6f27;
  --btcpay-color-yellow:  #ffc107;
  --btcpay-color-green:   #28a745;
  --btcpay-color-teal:    #20c997;
  --btcpay-color-cyan:    #17a2b8;
  --btcpay-color-primary:       var(--btcpay-color-blue);
  --btcpay-color-secondary:     var(--btcpay-color-gray-600);
  --btcpay-color-success:       var(--btcpay-color-green);
  --btcpay-color-info:          var(--btcpay-color-cyan);
  --btcpay-color-warning:       var(--btcpay-color-yellow);
  --btcpay-color-danger:        var(--btcpay-color-red);
  --btcpay-color-light:         var(--btcpay-color-gray-100);
  --btcpay-color-dark:          var(--btcpay-neutral-900);
  --btcpay-bg-body: var(--btcpay-color-white);
  --btcpay-color-body: var(--btcpay-color-gray-900);
  --btcpay-color-link: var(--btcpay-color-primary);
  --btcpay-color-link-hover: #0056b3;
  --btcpay-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
